<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>HOME</title>
    <script src="https://kit.fontawesome.com/bcc9414b7f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="body__home">
    <header id="header__home">
        <img id="logo" src="img/logo-mercado-liebre.svg" alt="Logotipo">
        <div class="search">
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fa-solid fa-magnifying-glass fa-lg" style="color: #000000;"></i>
            </button>
        </div>
        <p class="p__header"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            <nav class="header__nav1">
            <ul class="ul__header1" type="none">
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendas">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
        </ul>
    </nav>
        <nav class="header__nav2">
        <ul class="ul__header2" type="none">
            <li><a href="/crea-tu-cuenta">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
            <li><a href="/ingresa">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="/carrito">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
    </ul>
        </nav>
        <div class="header__div__mobile">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
        </div>
    </header>
    <main>
        <img class="banner__home" src="\img\img-home-banner.jpg" alt="banner-image">
        <h2 class="h2__home">Basado en tu última visita</h2>

        <section class="section__home">
                <div class="div__articles">
                    <article class="article__img">
                        <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera-Imagen" width="200px" height="200px">
                    </article>
                <article class="article__productos">
                        <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                    <div class="precio__descuento">
                        <h3 class="h3__home">$6.770</h3>
                        <h4 class="h4__home">40% off</h4>
                </div>
                    <h2 class="div__articles__h2">Cafetera Moulinex</h2>
                </article>
            </div>
            <div class="div__articles">
                <article class="article__img">
                <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook-Imagen" width="200px" height="200px">
            </article>
                <article class="article__productos">
                    <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                    <div class="precio__descuento">
                <h3 class="h3__home">$230.000</h3>
                <h4 class="h4__home">20% off</h4>
            </div>
                <h2 class="div__articles__h2">MacBook Pro 2019</h2>
            </article>
            </div>
                <div class="div__articles">
                    <article class="article__img">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung-Galaxy-Imagen" width="200px" height="200px">
                </article>
                    <article class="article__productos">
                        <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                        <div class="precio__descuento">
                    <h3 class="h3__home">$70.500</h3>
                    <h4 class="h4__home">10% off</h4>
                </div>
                    <h2 class="div__articles__h2">Samsung Galaxy S10</h2>
                </article>
            </div>
                <div class="div__articles">
                    <article class="article__img">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="Tv-Samsung-SmartTV-Imagen" width="200px" height="200px">
                </article>
                    <article class="article__productos">
                        
                        <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                        <div class="precio__descuento">
                    <h3 class="h3__home">$23.200</h3>
                    <h4 class="h4__home">5% off</h4>
                </div>
                    <h2 class="div__articles__h2">SmartTv Samsung 43"</h2>
                </article>
            </div>
        </section>

        <h2 class="h2__home">Sección de Ofertas</h2>

            <section class="section__home">
                <div class="div__articles">
                    <article class="article__img">
                        <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera-Imagen" width="200px" height="200px">
                    </article>
                <article class="article__productos">
                        <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                    <div class="precio__descuento">
                        <h3 class="h3__home">$6.770</h3>
                        <h4 class="h4__home">40% off</h4>
                </div>
                    <h2 class="div__articles__h2">Cafetera Moulinex</h2>
                </article>
            </div>
            <div class="div__articles">
                <article class="article__img">
                <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook-Imagen" width="200px" height="200px">
            </article>
                <article class="article__productos">
                    <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                    <div class="precio__descuento">
                <h3 class="h3__home">$230.000</h3>
                <h4 class="h4__home">20% off</h4>
            </div>
                <h2 class="div__articles__h2">MacBook Pro 2019</h2>
            </article>
        </div>
                <div class="div__articles">
                    <article class="article__img">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung-Galaxy-Imagen" width="200px" height="200px">
                </article>
                    <article class="article__productos">
                        <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                        <div class="precio__descuento">
                    <h3 class="h3__home">$70.500</h3>
                    <h4 class="h4__home">10% off</h4>
                </div>
                    <h2 class="div__articles__h2">Samsung Galaxy S10</h2>
                </article>
            </div>
                <div class="div__articles">
                    <article class="article__img">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="Tv-Samsung-SmartTV-Imagen" width="200px" height="200px">
                </article>
                    <article class="article__productos">
                        
                        <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                        <div class="precio__descuento">
                    <h3 class="h3__home">$23.200</h3>
                    <h4 class="h4__home">5% off</h4>
                </div>
                    <h2 class="div__articles__h2">SmartTv Samsung 43"</h2>
                </article>
            </div>
        </section>

    </main>
    <footer id="footer__home">
        <div class="div__footer__home">
        <article>
            <i class="fa-solid fa-credit-card icon__footer"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
                puntos de <br> pago. ¡Y siempre es seguro!</p>
        </article>
    </div>
        <div class="div__footer__home">
            <article>
            <i class="fa-solid fa-gift icon__footer"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de
                productos. Es <br> un beneficio de Mercado Puntos.</p>
        </article>
    </div>
        <div class="div__footer__home"> 
            <article>
            <i class="fa-solid fa-user-shield icon__footer"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre <br> no hay nada que no puedas hacer
                porque estás <br> siempre protegid@.</p>
        </article>
    </div>
        <article id="copyright">
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </article>
    </footer>
</body>
</html>