*{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-blanco : #fff;
    --color-celeste : #1259c3;
    --color-azul : #03264c;
    --color-amarillo :  #EAC926;
    --color-gris-claro : #ebebeb;
    --color-gris-oscuro : #666;
    --color-verde : #39b54a;
    --color-azul-pg : #0022AA;
}

a{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover{
    color:var(--color-azul-pg);
    transition: all 150ms;
}